.body_wrap {
  margin: 0 auto;
  padding: 50px;
}
.body_wrap .title {
  font-size: 50px;
  font-weight: 900;
}
.main {
  display: flex;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 10px solid gray;
  width: 500px;
  height: 500px;
  padding: 20px;
  margin: 30px;
}

.box img {
  width: 300px;
  /* height: auto; */
  /* background-color: aqua; */
}

.item-img {
  width: 400px;
}

.btn_wrap {
  /* width: 100%; */
}

.btn_wrap button {
  margin: 10px;
  width: 100px;
  height: 44px;

  font-weight: 900;
  font-size: 18px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
